/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color:blueviolet
}

header, nav, main, footer {
    margin: 20px;
}

/* Стили для заголовка */
header h1 {
    color: #333;
}

/* Стили для навигации */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Стили для секций */
section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
}

/* Стили для подвала */
footer {
    text-align: center;
    color: #777;
}

button {
    margin-left: 200px;
    height: 50px;
  width: 200px;
  opacity: .75;
  justify-content: center;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid #d3d2d2;
  box-shadow: 5px 5px 10px 2px #888888;
  transition: transform 0.3s ease; 
}

button:hover {
    transform: scale(1.1);
  }
